<div id="add-form-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Divulgue o serviço preenchendo o formulário.</h1>
        </div>
        <div id="form-box" class="col-md-12">
            <h2>Preencha os dados da melhor forma possível para encontrar mais rápido um profissional disposto a realizar seu serviço!</h2>
            <form action="/jobs/add" method="POST">
                <div class="form-group">
                    <label for="title">Título do Serviço:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Digite o título da vaga." required>
                    <small id="titleHelp" class="form-text text-muted">O título é muito importante, seja claro e objetivo.</small>
                </div>
                <div class="form-group">
                    <label for="description">Descrição do Serviço:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Descreva o serviço."></textarea>
                </div>
                <div class="form-group">
                    <label for="company">Localização:</label>
                    <input type="text" class="form-control" id="company" name="company" placeholder="Digite o local onde será prestado o serviço. " required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail para contato:</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Digite o e-mail para contato">
                </div>
                <div class="form-group">
                    <label for="salary">Valor disposto a pagar:</label>
                    <input type="text" class="form-control" id="salary" name="salary" placeholder="Digite o valor que você está disposto a pagar pelo serviço" required>
                </div>
                <input type="hidden" name="new_job" value="1">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button class="btn btn-secondary" style="margin-left: 1%;" onclick="window.history.back();">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>